:root {
    --primary-background-color: #333333;
    --backmain-color: #555555;
    --backsidebar-color: #202020;
    --white-color: #ffffff;
    --orange-color: #FB6D3A;
    --orange-50-color: #ffcab7;
    --gray-color: #bbbbbb;
    --green-color: #5f8868;
    --p-color: #A8A8A8;
    --primary-footer-color: rgba(255, 255, 255, 0.1);
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --primary-black-color: #000000;
    --pimary-gray-color: #2F303A;
    --primary-eee-color: #EEEEEE;
    --primary-seventy-color: #757575;
    --primary-hr-color: #ECECEC;
    --primary-icon-color: #AFB1B8;
    --primary-modal-color: rgba(0, 0, 0, 0.2);
    --primary-close-color: rgba(0, 0, 0, 0.1);
    --primary-three-color: rgba(47, 48, 58, 0.8);
    --primary-bordermod-color: rgba(33, 33, 33, 0.2);
    --primary-subscribe-color: rgba(255, 255, 255, 0.3);
    --primary-subshadow-color: rgba(0, 0, 0, 0.15);
    --primary-blue-color: #92C5FF;
    --pimary-red-color: #FF9191;
}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-background-color);
}

p {
    color: var(--p-color);
}

.main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.body__main {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}



/* header */

.name__project {
    background-color: var(--gray-color);
    margin: 0;
    display: flex;
    justify-content: center;
}

.name__project_text {
    font-size: 20px;
    margin: auto;
    color: var(--backsidebar-color);
}

.line {
    border-bottom: 1px solid var(--backsidebar-color);
}





/* index (main) */


.header {
    width: 1200px;
    display: flex;
    justify-content: center;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--white-color);
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
}

.green__text {
    color: var(--green-color);
}

.list {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}

.nav {
    margin-left: 0;
    margin: auto;
}

.navigation {
    list-style-type: none;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 93px;
    list-style: none;
}

.nav__text {
    justify-content: center;
    text-align: center;
    color: var(--gray-color);
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
}

.nav__text:hover,
.nav__text:focus {
    color: var(--green-color);
}

.link-now {
    color: var(--green-color);
}

.background {
    width: 1400px;
    height: 500px;
    margin: 0;
    margin-bottom: 95px;
}

.background__img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: 100%;
}

.description_of_main {
    margin: 0;
    margin-bottom: 95px;
}

.background__text {
    height: 100%;
    margin: 0;
    color: var(--white-color);
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description_name {
    font-size: 20px;
    margin: 0;
    margin-bottom: 25px;
    color: var(--white-color);
    display: flex;
    justify-content: center;
}

.description {
    color: var(--p-color);
    margin: 0;
}



.footer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.footer__list {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around;
}

.footer__network {
    display: flex;
    padding: 0;
    list-style: none;
}

.footer__network>li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--primary-footer-color);
    margin-right: 10px;
}

.footer__network>li:hover,
.footer__network>li:focus {
    background-color: var(--green-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__network>li:last-child {
    margin-right: 0px;
}

.address {
    list-style: none;
}

.address__link-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--gray-color);
}

.address__link-text_green {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--green-color);
}

.footer__network-svg {
    width: 23px;
    height: 23px;
    padding: 8px;
    fill: var(--white-color);
}


.join {
    margin-top: 0;
    display: flex;
    justify-content: center;
}





/* About */

.who {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--white-color);
    margin-bottom: 19px;
}

.name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: var(--white-color);
    margin-bottom: 24px;
}

.my_description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--gray-color);
}

.my_links {
    margin: 40px 257px 51px 0;
    width: 485px;
}


.number-list {
    padding: 0px;
    padding-left: 17px;
}

.number {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--white-color);
}

.numbcontent {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--gray-color);
    margin-left: 10px;
}

.links {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--gray-color);
    margin: 0;
    display: inline-block;
    width: 40%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
}

.skobka {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--white-color);

}

.numb {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--white-color);

}

.me__photo {
    padding-top: 40px;
    width: 370px;
}

.sidebar {
    float: left;
    margin-right: 50px;
    background-color: var(--backsidebar-color);
    width: 370px;
    height: 750px;
}

.body__of__about {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.right__section {
    display: block;
}

.contact {
    margin-top: 51px;
    margin-left: 40px;
    color: var(--white-color);
}

.contacts__text {
    color: var(--white-color);
    margin-left: 40px;
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--green-color);
}

.links_text {
    color: var(--white-color);
}






/* pract */


.pract__name {
    color: var(--primary-blue-color);
    font-size: 28px;
    margin-bottom: 30px;
}

.vertmenu {
    width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 140px;
    font-family: 'Open Sans', sans-serif;
}

.vertmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.vertmenu ul li {
    position: relative;
    margin: 0;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.vertmenu ul li li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertmenu .subCat,
.chka {
    top: 0;
    right: 0px;
    position: absolute;
    cursor: pointer;
}

.vertmenu .subCat.plus,
.chka:before,
.vertmenu .subCat.minus,
.subCat:checked+.chka:before {
    content: 'view';
    font-size: 15px;
    border: solid 1px var(--orange-color);
    border-radius: 2px;
    padding: 5px;
    color: var(--orange-color);
    font-weight: bold;
    font-family: Courier;
}

.vertmenu .subCat.minus,
.subCat:checked+.chka:before {
    content: '-';
}

.vertmenu a {
    color: var(--orange-50-color);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.vertmenu ul li li a {
    color: #666;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
}




.vertmenu a:hover,
.chka:hover {
    text-decoration: none;
    color: var(--green-color) !important;
}



.vertmenu>ul>li ul {
    display: none;
    margin-left: 70px;
    margin-right: 70px;
}

.vertmenu>ul>li a.active+span+ul {
    display: flex !important;
}

.vertmenu>ul>li .subCat:checked~ul {
    display: flex !important;
    justify-content: space-between;
}

.vertmenu input[type=checkbox].subCat {
    display: none;
}

.vertmenu ul li li a:before {
    content: '\203A';
    font-size: 20px;
    padding-right: 6px;
    color: var(--white-color);
    font-weight: bold;
}


.pract__number {
    color: var(--white-color);
}

.pract__theme {
    color: var(--white-color);
}

.pract__download {
    background-color: var(--green-color);
    border: none;
    color: var(--white-color);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 130px;
    height: 45px;
    border-radius: 3px;
}

.pract__download:hover {
    color: var(--text-color);
}


.text__btn {
    color: var(--white-color);
}




/* lab */


.lab__name {
    color: var(--pimary-red-color);
    font-size: 28px;
    margin-bottom: 30px;
}

.text__table {
    color: var(--white-color);
}

.table-container {
    margin-top: 50px;
    margin-bottom: 50px;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    height: auto;
    background-color: #f9f9f9;
}

.table,
.table td,
.table th {
    border: 1px solid #595959;
}

.table td,
.table th {
    text-align: center;
}

.table th {
    background: #85bdcc;
    color: var(--white-color);
    font-weight: normal;
}

.lesson-1 {
    background-color: #fffadb;
}

.lesson-2 {
    background-color: #e2ffe2;
}

.lesson-3 {
    background-color: #fff0ff;
}

.lesson-4 {
    background-color: #c4e5ff;
}


.scroll-table-body {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    margin-bottom: 20px;
}

.scroll-table table {
    width: 100%;
    table-layout: fixed;
    border: none;
}

.scroll-table thead th {
    font-weight: bold;
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-size: 14px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.scroll-table tbody td {
    text-align: left;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}

.scroll-table tbody tr:nth-child(even) {
    background: #f3f3f3;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 7px rgb(255, 255, 255);
}





/* form.html */

.form {
    width: 545px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: solid 1.5px var(--primary-bordermod-color);
    border-radius: 5px;
    margin: 50px auto 50px auto;
    background-color: var(--white-color);
}

.form__field {
    display: flex;
    flex-direction: column;
}

.form__label {
    margin-bottom: 4px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-seventy-color);
}

.form__input {
    width: 500px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 42px;
    border: 1px solid var(--primary-bordermod-color);
    border-radius: 4px;
    outline: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
    border: 1px solid var(--green-color);
}

.form__svg-modal {
    position: absolute;
    width: 18px;
    height: 18px;
    margin-left: 15px;
    transform: translateY(170%);
    fill: var(--primary-text-color);
}

.form__input:focus-within+.form__svg-modal {
    fill: var(--green-color);
}

textarea {
    resize: none;
    height: 120px;
    width: 545px;
    height: 120px;
    margin-bottom: 10px;
    padding: 12px 16px;
    box-sizing: border-box;
    border: 1px solid var(--primary-bordermod-color);
    border-radius: 4px;
    outline: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:focus {
    border: 1px solid var(--green-color);
}

.form__checkbox {
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}

.check-input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox {
    position: absolute;
    width: 16px;
    height: 15px;
    margin-left: -20px;
    background-image: url('data:image/svg+xml,%3Csvg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z" fill="%23212121"/%3E%3C/svg%3E');
    fill: var(--primary-text-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked+.checkbox {
    background-image: url('data:image/svg+xml,%3Csvg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect width="16" height="15" rx="2" fill="%232196F3"/%3E%3Cpath d="M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z" fill="white" stroke="white" stroke-width="0.2"/%3E%3C/svg%3E');
    fill: var(--accent-color);
}

.check-text {
    font-family: 'Roboto';
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primary-seventy-color);
}

.check-link {
    color: var(--accent-color);
}

.btn-modal {
    color: var(--title-text-color);
    background-color: var(--green-color);
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}